{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "react", "@typescript-eslint","prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "prettier/prettier": ["error", { "singleQuote": false }]
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  }
  
}